<app-navbar (newItemEvent)="addItem($event)"></app-navbar>
<app-sidebar></app-sidebar>
<div class="container">
    <div class="row mt-5">
        <div class="col-12 mt-5">
            <h1><b>Guia Completo Novo modo Arena 2v2v2v2 em League of Legends</b></h1>
            <p>Confira esta lista dos melhores campeões e sinergias do novo modo Arena 2v2v2v2 em League of Legends.</p>
            <p style="font-size: 12px;">POR <b>FELIPE MILANI</b>, PUBLICADO EM 21 DE JULHO DE 2023</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <img width="100%" src="../../assets/imgs/header.png">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 mt-5">
            <h3>Tier S+</h3>
            <p>Kog'maw, Karma, Twitch, Kai'sa, Vayne, Milio, Poppy, Lucian, Sona e Kayle.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Tier S</h3>
            <p>Rakan, Heimerdinger, Jax, Annie, Kayn(red), Zilean, Nilah, Ivern, Teemo, Wukong, Lulu, Taric, Shaco, Pyke, Syndra e Taric.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Tier A</h3>
            <p>Riven, Draven, Corki, Cassiopeia, Tristana, Master yi, Soraka, Kindred, Alistar, Oriana, Malzahar, Janna, Lilia, Senna,
                Yorick, Fiora, Azir, Mundo, Twisted Fate, Xayah, Jayce, Maokai, Urgot, Pantheon, Zac, Zed, Zyra, Jinx, Graves e Sett.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4">
            <h3>Boas Sinergias</h3>
            <p>Lulu e Vayne; Teemo e Shaco; Annie e Twitch; Kaisa e Teemo; Samira e Rell; Master yi e Taric; Kayle e Taric; Hemerdinger e Zyra; Mordekaiser e Kha'Zix; Dr. Mundo e Yummi; Ivern e Annie.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center mt-4">
            <img width="60%" src="../../assets/imgs/arena.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-5 mb-5">
            <h3>O que muda no 2v2v2v2 em comparação a Summoner's rift</h3>
            <ul style="line-height: 3;">
                <li>
                    Os campeões de que escalam bem são muito fortes neste modo devido às rodadas aceleradas e ao late game garantido.
                </li>
                <li>
                    Suportes ou encantadores junto com atiradores criam uma combinação devastadora que é difícil para o time inimigo combater.
                </li>
                <li>
                    Campeões de controle de zona como Heimerdinger e Zyra se destacam no mapa e melhoram conforme a Arena vai diminuindo.
                </li>
                <li>
                    Campeões com sustentação, controle de grupo e potencial de combinação de wombo combo também são altamente eficazes.
                </li>
            </ul>
        </div>
    </div>
    
</div>