.sidebar{
    background: var(--prmary-color) !important;
    display: flex;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    position: fixed;
    top: 50px;
    left: 0;
}

span {
    color: var(--text-color-white);
}

a :hover {
    background-color: aliceblue;
}
