<!-- <section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');"> -->
<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Crie sua conta</h2>

              <form
                *ngIf="!isSuccessful"
                name="form"
                (ngSubmit)="f.form.valid && onSubmitUser()"
                #f="ngForm"
                novalidate
                >

                <div class="form-outline mb-4">
                    <div class="form-group">
                        <label class="form-label" for="formName">Nome</label>
                        <input type="text" 
                        id="formName" 
                        class="form-control form-control-lg"
                        name="name"
                        [(ngModel)]="form.name"
                        required
                        minlength="1"
                        maxlength="40"
                        #name="ngModel" 
                        />
                        <!-- <div class="alert-danger" *ngIf="name.errors && f.submitted">
                            <div *ngIf="form.name.errors.required">name is required</div>
                            <div *ngIf="form.name.errors.minlength">
                            name must be at least 3 characters
                            </div>
                            <div *ngIf="form.name.errors.maxlength">
                            name must be at most 20 characters
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="formSurname">Sobrenome</label>
                  <input type="text" 
                        id="formSurname" 
                        class="form-control form-control-lg"
                        name="surname"
                        [(ngModel)]="form.surname"
                        required
                        minlength="1"
                        maxlength="40"
                        #name="ngModel" 
                        />
                    <!-- <div class="alert-danger" *ngIf="name.errors && f.submitted">
                        <div *ngIf="form.surname.errors.required">name is required</div>
                        <div *ngIf="form.surname.errors.minlength">
                        name must be at least 3 characters
                        </div>
                        <div *ngIf="form.surname.errors.maxlength">
                        name must be at most 20 characters
                        </div>
                    </div> -->
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg">Email</label>
                  <input type="text" 
                        id="email" 
                        class="form-control form-control-lg"
                        name="email"
                        [(ngModel)]="form.email"
                        required
                        minlength="1"
                        maxlength="40"
                        #name="ngModel" 
                        />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cg">Password</label>
                  <input type="text" 
                        id="formPassword" 
                        class="form-control form-control-lg"
                        name="password"
                        [(ngModel)]="form.password"
                        required
                        minlength="1"
                        maxlength="40"
                        #name="ngModel" 
                        />
                </div>

                <!-- <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                </div> -->

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="form-group">
                        <button class="btn btn-success btn-primary btn-block btn-lg gradient-custom-4 text-body">Registrar</button>
                    </div>
                </div>
                <p class="text-center text-muted mt-5 mb-0">Já tem uma conta? <a href="#!"
                    class="fw-bold text-body"><u>Login here</u></a></p>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>