<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div *ngIf="!isSuccessful" class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Login</h2>
  
                <form
                  *ngIf="!isSuccessful"
                  name="form"
                  (ngSubmit)="f.form.valid && onSubmitLogin()"
                  #f="ngForm"
                  novalidate
                  >
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg">Email</label>
                    <input type="text" 
                          id="email" 
                          class="form-control form-control-lg"
                          name="email"
                          [(ngModel)]="form.email"
                          required
                          minlength="1"
                          maxlength="40"
                          #name="ngModel" 
                          />
                  </div>
  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cg">Password</label>
                    <input type="password" 
                          id="formPassword" 
                          class="form-control form-control-lg"
                          name="password"
                          [(ngModel)]="form.password"
                          required
                          minlength="1"
                          maxlength="40"
                          #name="ngModel" 
                          />
                  </div>
                  <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                    <label class="form-check-label" for="form2Example3g">
                      I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                    </label>
                  </div>
  
                  <div class="d-flex justify-content-center">
                      <div class="form-group">
                          <button class="btn btn-success btn-primary btn-block btn-lg gradient-custom-4 text-body">Entrar</button>
                      </div>
                  </div>
                  <p class="text-center text-muted mt-5 mb-0">Não possue uma conta? <a href="#!"
                      class="fw-bold text-body"><u>Registrar</u></a></p>
                </form>
  
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-8 offset-2 d-flex justify-content-center" *ngIf="isSuccessful">
            <div class="alert alert-success d-flex text-center align-items-center mt-5">
                <span>Login efetuado com sucesso!</span>
                <button class="btn btn-success btn-block ms-5"(click)="goNext();">OK</button>
            </div>
        </div>
      </div>
    </div>
  </section>