pb-video-container {
    padding-top: 20px;
    background: #bdc3c7;
    font-family: Lato;
}

.pb-video {
    padding: 5px;
}

.col-lg-12 {
    padding-left: 35% !important;
    padding-right: 35% !important;
}

.frame :hover {
    transition: 0.50s ease;
    transform: translate(-8px, -8px);
    cursor: pointer;
}

.card-frame{
    background: var(--prmary-color);
}

.pb-video label:hover {
    cursor: pointer;
}

.pb-row {
    margin-bottom: 10px;
}

.icon-color {
    color: red;
}

.icon:hover{
    cursor: pointer;
}

.icon {
    padding: 5px;
}