.navbar-expand-lg {
    background: var(--prmary-color);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: var(--prmary-color);

    color: var(--text-color-white);

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    padding: 4.5px 4.5px 4.5px 10.5px;

    position: fixed;

    top: 0;
    left: 0;
    right: 0;
}

.nav-item .nav-link {
    color: var(--text-color);
}

.navbar-expand-lg .nav-item .nav-link:hover {
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: var(--text-color-white);
}


.fa-li {
  position: relative;
  left: 0;
}
