<div class="container-fluid">
    <div class="row mt-4" *ngFor="let championship of championships">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h2>{{championship.name}} - {{championship.year}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="row">
                    <div class="col-12">
                        <div class="col-12 d-flex justify-content-center">
                            <h3>Matches</h3>
                        </div>
                        <div class="mt-1 row" *ngFor="let match of matches">
                            <div *ngIf="this.match.id_championship === championship.id" class="col-12 d-flex justify-content-center align-items-center">
                                {{this.teamsEnum[match.id_red_team].name}} X {{this.teamsEnum[match.id_blue_team].name}}
                                <button *ngIf="this.campaign.id_team === match.id_red_team || this.campaign.id_team === match.id_blue_team" class="btn btn-success ms-3" (click)="play(match, championship)">Jogar</button>
                                <button *ngIf="this.campaign.id_team !== match.id_red_team && this.campaign.id_team !== match.id_blue_team" class="btn btn-danger ms-3" (click)="play(match, championship)">Simular</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="col-12 d-flex justify-content-center">
                            <h3>Tabela</h3>
                        </div>
                        <div class="mt-1 row" *ngFor="let team of table">
                            <div *ngIf="this.team.id_championship === championship.id" class="col-12 d-flex justify-content-center align-items-center">
                                {{team.id_team}} - Wins: {{team.wins}} / Loses: {{team.loses}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
        </div>
    </div>
</div>
