.gradient-custom-3 {
    /* fallback for old browsers */
    background: var(--prmary-color);

    /* Chrome 10-25, Safari 5.1-6 */
    background: var(--prmary-color);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: var(--prmary-color);
}
.gradient-custom-4 {
    /* fallback for old browsers */
    background: var(--prmary-color);

    /* Chrome 10-25, Safari 5.1-6 */
    background: var(--prmary-color);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: var(--prmary-color);
}